.container{
    background-color: #01904a;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 2px;
}

.arrow{
    color: white;
    font-size: 24px;
}
.arrow:hover{
    color: #01904a;
}

.NavItem{
    font-size: 25px;
}